In [3]:
import pandas as pd

data = {
    '이름': ['철수', '영희', '민수'],
    'age': [28, 22, 31],
    'gender': ['남', '여', '남']
}
df = pd.DataFrame(data)
df

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [2]:
data = [
    ['철수', 28, '남'],
    ['영희', 22, '여'],
    ['민수', 31, '남']
]

# 컬럼 이름 정의
columns = ['이름', 'age', 'gender']
df = pd.DataFrame(data, columns=columns)

df

   이름  age gender
0  철수   28      남
1  영희   22      여
2  민수   31      남

In [4]:
data = pd.Series([100, 200, 300, 400, 500], index=['a', 'b', 'c', 'd', 'e'])
print(data)
df = pd.DataFrame(data)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [5]:
df.to_csv('df.csv', index=False)

In [8]:
pd.read_csv('df.csv')

     0
0  100
1  200
2  300
3  400
4  500

In [10]:
df.to_excel('df.xlsx', engine='openpyxl')